.jumbotron { padding-top: 5rem;
    padding-bottom: 2rem;
    background-size:cover;
    background-image: url(img/bg3.jpg);
    }
   
   .about{
        text-align: center;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
.card-group{
    padding-bottom: 10rem;
}
.tiktok {
    padding-top: 2rem;
}
.medsos{
    padding-top: 5rem;
    padding-bottom: 10rem;
}
h3{margin:2rem;}
a {
    text-decoration: none;
    color: black

}
